---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import TitlePage from '../components/TitlePage.astro';
---

<Layout title="Koreoxy | About">
	<main>
		<div class="flex gap-4 mt-5 mb-5">
			<Header/>
			<div class="flex flex-col gap-4 w-full">
				<TitlePage title='About'/>
				<div class="h-full p-10 rounded-md border backdrop-blur-sm bg-white/40">
                    <p>My name is Saifullah. you can call me Iful or ipul. I'm currently 21 years old. Born and live in Indonesia. I'm currently a student at Teuku Umar University.I started learn about programmer since 2020 with c++ language. But for now I spend more time to explore about web development using Next.js and Laravel.</p>
                </div>	
			</div>
		</div>
        <Footer/>
	</main>
</Layout>

