---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import TitlePage from '../components/TitlePage.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="flex gap-4 mt-5 mb-5">
			<Header/>
			<div class="flex flex-col gap-4">
				<TitlePage title='Home'/>
				<div class="w-full h-screen p-10 rounded-md border backdrop-blur-sm bg-white/40">
					<p>I'm  Saifullah.<br/>My dream is to become a professional web developer.</p>
				</div>	
			</div>
		</div>
	</main>
</Layout>

