---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="flex gap-4 mt-5">
			<Header/>
			<div class="w-screen p-10 rounded-md border backdrop-blur-sm bg-white/40">Hello World</div>	
		</div>
	</main>
</Layout>

