---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import TitlePage from '../components/TitlePage.astro';
---

<Layout title="Koreoxy | Skill">
	<main>
		<div class="flex gap-4 mt-5 mb-5">
			<Header/>
			<div class="flex flex-col gap-4 w-full">
				<TitlePage title='Skillset'/>
				<div class="h-full p-10 rounded-md border backdrop-blur-sm bg-white/40">
					<p>Skill</p> 
                </div>	
			</div>
		</div>
	</main>
</Layout>