<footer>
    <div class="h-full p-10 rounded-md border backdrop-blur-sm bg-white/40">
         <div class="flex gap-2 justify-between">
            <div class="flex gap-2">
                <a href="https://www.instagram.com/ifulufi/">
                    <img src="/icon/instagram.svg" alt="logo instagram" width={30}/>
                </a>
                <a href="https://www.youtube.com/@1sh1sh">
                    <img src="/icon/youtube.svg" alt="logo youtube" width={30}/>
                </a>
                <a href="https://github.com/koreoxy">
                    <img src="/icon/github.svg" alt="logo github" width={30}/>
                </a>
            </div>
          
            <div>
                <p>Created by Koreoxy © 2023</p>
            </div>

          </div>
    </div>
</footer>