
<header class="p-10 border backdrop-blur-sm bg-white/40 shadow-2xl hover:shadow-blue-400/90">
    <a href="/" class="font-bold text-2xl invert">
        <img src="/logo.png" alt="logo koreoxy" width={100}/>
    </a>
    <ul class="text-lg">
        <li class="p-5">
            <a href="/">Home</a>
        </li>
         <li class="p-5">
            <a href="/">About</a>
        </li>
        <li class="p-5">
            <a href="/">Skill</a>
        </li> 
    </ul>
</header>