---
interface Props {
	title: string;
	description?: string;
	image?: string;
}
	
const { title } = Astro.props; 
---

<div class="w-full p-5 rounded-md border backdrop-blur-sm bg-white/40">
    <h1 class="font-bold text-2xl">{title}</h1>
</div>