---
interface Props {
	title: string;
	description?: string;
	image?: string;
}
	
const { title, description="default description", image="default image" } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta property="og:image" content={image} />
		<title>{title}</title>

	
	</head>
	<!-- <body class="min-h-screen max-w-3xl mx-auto bg-[url('/rain.gif')] bg-no-repeat bg-cover bg-fixed font-sans"> -->
	<body class="min-h-screen max-w-3xl mx-auto bg-gradient-to-br from-blue-800 bg-black text-white">
		<slot />
		
	</body>
</html>